[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "ssd1306-lvgl/lvgl"]
	path = ssd1306-lvgl/lvgl
	url = https://github.com/lvgl/lvgl
[submodule "lvgl"]
	path = lvgl
	url = https://github.com/lvgl/lvgl.git
	branch = release/v8.3
[submodule "ili9488-lvgl-keypad/RP2040-PWM-Tone"]
	path = ili9488-lvgl-keypad/RP2040-PWM-Tone
	url = https://github.com/TuriSc/RP2040-PWM-Tone/
